@model IEnumerable<AdmAspNet.Models.ViewModels.TypeViewModel>

@{
    ViewBag.Title = "Typer";
}
@section sidebar {
    @Html.Partial("_SidebarPartial")
}
<h2>Opprett</h2>

<p>
    @Html.ActionLink("Opprett ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Slett", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
