@model AdmAspNet.Models.ViewModels.LocationViewModel

@{
    ViewBag.Title = "Details";
}
@section sidebar {
    @Html.Partial("_SidebarPartial")
}

<h2>Detaljer</h2>

<div>
    <h4>Lokasjon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinate.Lng)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Coordinate.Lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinate.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinate.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinate.Alt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinate.Alt)
        </dd>


    </dl>
</div>

