<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        @Html.SidebarItem("Forsiden", "Index", "Admin")
        @Html.SidebarItem("Lokasjoner","Index","Location")
        @Html.SidebarItem("Aksesspunkter","Index","Access")
        @Html.SidebarItem("Typer","Index","Type")
        @Html.SidebarItem("Rutepunkter","Index","Path")
        @Html.SidebarItem("Naboer","Index","Neighbour")
    </ul>
</div>