@model AdmAspNet.Models.ViewModels.PathPointViewModel

@{
    ViewBag.Title = "Delete";
}
@section sidebar {
    @Html.Partial("_SidebarPartial")
}
<h2>Slett</h2>

<h3>Er du sikker på at du vil slette?</h3>
<div>
    <h4>Rutepunkt</h4>
    @if (ViewBag.SuccessMessage != null)
    {
        Html.RenderPartial("_SuccessPartial");
    }
    @if (ViewBag.ErrorMessage != null)
    {
        Html.RenderPartial("_ErrorPartial");
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coordinate.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinate.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinate.Lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinate.Lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinate.Alt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinate.Alt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> |
            @Html.ActionLink("Tilbake til oversikt", "Index")
        </div>
    }
</div>
